name: CI

on:
  push:
    branches: [main, dev, "changeset-release/*"]
  pull_request:
    branches: [main, dev]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bats jq shellcheck expect

      - name: Run shellcheck
        run: make lint

      - name: Run BATS tests
        run: make test

      - name: Run interactive tests
        run: make test-interactive

  test-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install bats-core jq shellcheck expect

      - name: Run shellcheck
        run: make lint

      - name: Run BATS tests
        run: make test

      - name: Run interactive tests
        run: make test-interactive
